{% extends "app/layout.html" %}
{% block title %}Галерея{% endblock %}
{% block content %}

<div class="container album py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]"
                     style="height: 225px; width: 100%; display: block;" src="https://s.4pda.to/FmyirMYkkMyD0XbF2RWNFwz0z2eJZQeJGcBpgE.jpg"
                     data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">IBM объявила о создании первого в мире процессора, выполненного по 2-нм технологии.
                        По заверению компании, ей удалось «втиснуть 50 миллиардов транзисторов в микросхему размером с ноготь».
                        Новый техпроцесс призван повысить не только производительность чипов, но и время работы гаджетов на одном заряде аккумулятора.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/Fmyiu9WpRddNvkz0JqCaTz11Nz1hLCIyHrV4hsu.png"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">Крупнейший цифровой магазин видеоигр Steam опубликовал статистику по оборудованию пользователей за апрель 2021 года.
                        Оказалось, что доля компьютеров на базе процессоров AMD в последние месяцы постоянно увеличивалась и достигла почти трети от общего числа.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/FmyivQsCxNz2BFvPfz0xmVx8WAPefB3HrVaREK.jpg"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">
                        В новой версии ядра Linux появилась любопытная информация, связанная с процессорами Intel Alder Lake-S.
                        Похоже, что новая линейка чипов будет предусматривать возможность отключения ядер.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/Fmyix2KHksi5K3mEXD7BPTX9z2N9RBbdof6xb.png"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">В базе данных программы GPU-Z появилась информация об ещё не анонсированной мобильной версии видеокарты NVIDIA GeForce RTX 3050 Ti.
                        Благодаря этому стали известны некоторые ключевые характеристики этого видеоадаптера, которым будут оснащаться игровые ноутбуки начального уровня.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/Fmyiz0wY6gyz0kMcfHnbZHWIP51KFKJvnr58WV.jpg"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">Инсайдерам стала доступна информация о предположительной дате презентации нового поколения флагманских процессоров AMD для десктопов.
                        Речь о чипах семейства Raphael, построенных на базе новейшей архитектуры Zen 4.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/FmyixESFT8lZBJOABiqLApwx2I0iVdYxz1Y1i.jpg"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">Компания Sapphire представила разогнанную версию флагмана видеокарты AMD. Новинка с приставкой NITRO+
                        Special Edition получила усиленную подсистему питания и отличается от базовой модели не только ревизией графического чипа, но и повышенной тактовой частотой.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/FmyivIccwqfC3dgNz1z0VtVoPjbk63t3uYXIv0.jpg"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">По данным инсайдеров, NVIDIA готовит к выпуску серию видеокарт RTX 3000 с приставкой LHR (Lite Hash Rate).
                        За счёт новых графических чипов они станут невыгодной покупкой для майнеров, не теряя при этом игровой производительности.
                        Ожидается, что такой аппаратный апгрейд позволит решить проблему дефицита мощных GPU на рынке ПК-железа.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/Fmyiz196z1c2UO12Jus9jAQxkvdBz2ClVELLW4b.jpg"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">По данным корейских информаторов, следующее поколение фирменных чипов Apple уже готовится к релизу.
                        Первыми новинку получат лэптопы MacBook, которые будут представлены до конца года, а позднее на свежее железо перейдут и другие устройства популярного бренда.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="https://s.4pda.to/Fmyiz1TkwC3z0E6EDB8AhboVKGWdnt5z1TRahDCz1iDX7jPm.jpg"
                     data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <p class="card-text">Китайские инсайдеры дополнили свой отчёт о старте выпуска модулей памяти DDR5 новыми сведениями.
                        На этот раз стали известны подробности о технических характеристиках десктопных комплектующих с разной тактовой частотой, а также сроки их появления в рознице.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button>
                        </div>
                        <small class="text-muted">9 минут</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}